#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  background-color: var(--color-gray-700);
  display: flex;
  height: 200px;
  place-items: center;
  text-align: center;
}

header img {
  margin: 0 auto;
}

h1 {
  margin: 0 auto;
}

main {
  width: 100%;
  max-width: 736px;
  margin: -27px auto 0;
}

@media screen and (max-width: 768px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.wrapper {
  display: flex;
  gap: 8px;
}

.task-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 24px;
  font-weight: bold;
}

.task-header-created {
  color: var(--color-blue);
}

.task-header-completed {
  color: var(--color-blue-dark);
}

.task-header-created,
.task-header-completed {
  display: flex;
  place-items: center;
}

.task-header-counter {
  background-color: var(--color-gray-400);
  display: inline-block;
  min-width: 1.5rem;
  height: 1.3rem;
  line-height: 1.3rem;
  border-radius: 999px;
  color: var(--color-gray-200);
  font-size: 12px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.no-todos {
  padding: 64px 24px;
}

.no-todos img {
  margin-bottom: 16px;
}

p {
  margin: 0;
  color: var(--color-gray-300);
}

.bold {
  font-weight: bold;
}
