:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-gray-600);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Variables */
  /* Product colours */
  --color-purple: #8284FA;
  --color-purple-dark: #5E60CE;
  --color-blue: #4EA8DE;
  --color-blue-dark: #1E6F9F;

  /* Base colours */
  --color-gray-700: #0D0D0D;
  --color-gray-600: #1A1A1A;
  --color-gray-500: #262626;
  --color-gray-400: #333333;
  --color-gray-300: #808080;
  --color-gray-200: #D9D9D9;
  --color-gray-100: #F2F2F2;
  --color-danger: #E25858;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: var(--color-blue);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-blue-dark);
}

body {
  margin: 0;
  display: flex;
  place-items: start center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-gray-700);
    background-color: var(--color-gray-100);
  }
  button {
    background-color: var(--color-gray-200);
  }
}
